<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Game Start</title>
    <link rel="stylesheet" href="css/game.css">
  </head>
  <body>
    <h1>Choose A Mode</h1>
    <form action="/gameStart" method="post">
      <button type="submit" name="gameMode" value="easy">Easy Mode</button>
      <button type="submit" name="gameMode" value="medium">Medium Mode</button>
      <button type="submit" name="gameMode" value="hard">Hard Mode</button>
    </form>
  </body>
</html>
<!--  -->
