<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Winners</title>
    <link rel="stylesheet" href="/css/winners.css">
  </head>
  <body>
    <h1>Winners</h1>
    <table>
      <thead>
        <th>Name</th>
        <th>Word</th>
        <th># Guesses</th>
      </thead>
      {{#winners}}
      {{#.}}
      <tr>
        <td>{{name}}</td>
        <td>{{word}}</td>
        <td>{{guesses}}</td>
      </tr>
      {{/.}}
      {{/winners}}
    </table>

    <form action="/gameStart" method="get">
      <h3>Would You Like To Play Again?</h3>
      <button type="submit" name="again" value="yes">Play Again</button>
    </form>
  </body>
</html>
